<!-- Log In Form -->

<div class="row">
  <form class="login">
    <div class="form-group">
      <label for="exampleUserName">User Name</label>
      <input type="email" class="form-control" id="exampleUserName"  placeholder="Enter your username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
  </form>
</div>



<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <!-- <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>