.row{
    margin-left: 0%;
    margin-right: 0%;
}

.header{
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
    position: relative;
    padding: 1%;
    padding-left: 5%;
    color: white;
}

.search{
    margin-top: 5%;
    margin-left: 70%;
}