<!-- Header -->

<div class="header">
  <h2>Genie - your friendly IT Assistant</h2>
</div>

<!-- End of Header -->

<!-- Thank you message -->
<div class="row">
  <form class="form-inline search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="login()">Search</button>
  </form>
</div>

<div class="row thankyou">
  <h4>REF123456789 has been created and an email has been sent to the BIS team.</h4>
  <br>
  <h4>Thank you for submitting your request.</h4>
</div>

<svg viewBox="0 0 8 8"><use xlink:href="#home"></use></svg>


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-sm-12">
        <div class="mb-5 flex-center" class="footerlogo">

          <!-- Wipro -->
          <a href="#">
            <img src="../../../assets/wiproLogoNoBorder.JPG" alt="Wipro Logo">
          </a>
          <!-- Innogy -->
          <a href="#">
              <img src="../../../assets/Innogy.jpg" alt="Innogy Logo">
          </a>
          
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->