<h5 class="title">Please find below the categories available to you</h5>

<!-- Categories -->
<div class="row">
    <button type="submit" class="btn btn-primary category" (click)="toggleDetails()">EDI</button>
</div>
<!-- End of Categories -->

<!-- Details Form -->

<div class="row">
  <form class="details" *ngIf='showDetails'>
    <div class="form-group">
      <label for="exampleUserName">ANA Name</label>
      <input type="email" class="form-control" id="exampleUserName"  placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">User Email Address</label>
      <input type="email" class="form-control" id="userEmail" placeholder="Enter your email address">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitTicket()">Submit</button>
  </form>
</div>
